h1 {
  color: purple;
}

#first {
  border: 3px solid pink;
}

#second {
  border-color: black;
  border-width: 4px;
  border-style: dashed;
  background: gray;
}

.checkList {
	text-decoration: line-through;
}
